.intro {
  width: 75%;
}

.important {
  color: gold;
}

.main {
  font-family: fantasy;
}

.outro {
  width: 90%;
  color: blue;
}

.about {
  font-style: italic;
}

.date {
  font-size: 10px;
  font-weight: lighter;
  margin-bottom: 60px;
  margin-top: 0px;
}
.post {
  border: 3px;
  border-style: ridge;
  border-color: skyblue;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 25px;
  padding: 7px;
  background-color: rgba(165,198,209,0.5);
}
